body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active-criteria {
  color: #aeaeae !important;
}

.example-component.show {
  opacity: 1;
  visibility: visible; 
}

.tiny-shadow{
  box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.3) !important;
}